<div class="card bg-light-yellow">
  <h2 class="text-primary">New Game</h2>

  @if (error) {
    <div class="error-message">{{ error }}</div>
  }

  <form [formGroup]="newGameForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <!-- <label for="characterName">Character Name:</label> -->
      <input
        id="characterName"
        type="text"
        class="form-control"
        formControlName="characterName"
        placeholder="Enter your character name"
        [ngClass]="{
          invalid:
            newGameForm.get('characterName')?.invalid &&
            newGameForm.get('characterName')?.touched,
        }"
      />

      <!-- @if (
        newGameForm.get('characterName')?.invalid &&
        newGameForm.get('characterName')?.touched
      ) {
        <div class="error-message">
          @if (newGameForm.get('characterName')?.errors?.['required']) {
            <span>Character name is required</span>
          }
          @if (newGameForm.get('characterName')?.errors?.['minlength']) {
            <span>Character name must be at least 1 characters</span>
          }
          @if (newGameForm.get('characterName')?.errors?.['maxlength']) {
            <span>Character name cannot exceed 20 characters</span>
          }
        </div>
      } -->
    </div>

    <div class="button-group">
      <button
        type="submit"
        class="button filled primary"
        [disabled]="newGameForm.invalid || loading"
      >
        @if (loading) {
          <span>Creating...</span>
        } @else {
          <span>Start</span>
        }
      </button>
      <button
        id="cancelButton"
        type="button"
        class="button filled secondary"
        (click)="onCancel()"
        [disabled]="loading"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
