.game-container {
  width: 800px;
  position: relative;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;

    &__day,
    &__money {
      border-radius: 8px;
      padding: 8px;
    }
  }
  // Center loading and error containers
  .loading-container,
  .error-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
}
