@use "variables" as *;

.button {
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  line-height: 1;

  ng-icon {
    font-size: 1.2em;
    display: inline-flex;
    align-items: center;
  }

  &:hover {
    transform: scale(1.1);
  }

  &.primary {
    &.filled {
      background-color: $color-blue;
      color: white;
      border: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    &.outlined {
      background-color: transparent;
      color: $color-blue;
      border: 2px solid $color-blue;
    }
  }

  &.secondary {
    &.filled {
      background-color: $color-salmon;
      color: white;
      border: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    &.outlined {
      background-color: transparent;
      color: $color-salmon;
      border: 2px solid $color-salmon;
    }
  }
}
