.button {
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
        transform: scale(1.1);
    }

  &.filled {
    background-color: $color-cerulean;
    color: white;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  &.outlined {
    background-color: transparent;
    color: $color-cerulean;
    border: 2px solid $color-cerulean;
  }
}