@use "variables" as *;

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-primary {
  color: $color-green;
}

.text-secondary {
  color: $color-dark-orange;
}

.bg-none {
  background: none;
}

.bg-white {
  background-color: white;
}

.bg-light-yellow {
  background-color: $color-light-yellow;
}

.bg-orange {
  background-color: $color-orange;
}

.bg-green {
  background-color: $color-green;
}
