@use 'variables' as *;

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-primary {
  color: $color-dark-blue;
}

.text-secondary {
  color: $color-salmon;
}

.bg-none {
  background: none;
}

.bg-white {
  background-color: white;
}

.bg-light-yellow {
  background-color: $color-light-yellow;
}

.bg-light-orange {
  background-color: $color-light-orange;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 32px;
  box-sizing: border-box;
  text-align: center;
}
