<div class="card bg-light-yellow">
  @if (loading) {
    <div class="loading-spinner">Checking for existing data...</div>
  }

  @if (error) {
    <div class="error-message">{{ error }}</div>
  }

  @if (!loading && !error) {
    <h2 class="text-primary">Welcome, {{ username }}!</h2>

    <div class="vertical-stack">
      @if (hasGameSaves) {
        <p class="text-primary">You have an existing game save!</p>
        <div class="button-group">
          <button
            class="button outlined primary"
            (click)="onResumeGame()"
            [disabled]="loading"
          >
            Resume Game
          </button>
        </div>
      } @else {
        <p>You have no game saves. Begin a new journey?</p>
      }
      <button
        class="button outlined primary"
        (click)="onNewGame()"
        [disabled]="loading"
      >
        New Game
      </button>
      <button
        id="logout-button"
        class="button filled secondary"
        (click)="onLogout()"
        [disabled]="loading"
      >
        Log Out
      </button>
    </div>
  }
</div>
