@import '../styles/_variables';

main {
  text-align: center;
  margin: 20px;
}

h1 {
  color: $color-salmon;
}

section {
  background-color: $color-light-orange;
  padding: 20px;
  border-radius: 8px;
}