@use "../styles/variables" as *;

main {
  text-align: center;
  margin: 20px;
}

h1 {
  color: $color-green;
}

section {
  background-color: $color-light-yellow;
  padding: 20px;
  border-radius: 8px;
}
