<!-- src/app/play/play.component.html -->

<div class="card bg-light-yellow">
  <h2>Welcome, {{ username }}!</h2>

  @if (loading) {
    <div>Checking for cats...</div>
  }

  @if (!loading) {
    @if (!hasCat) {
      <p>You don't have a cat yet.</p>
      <button class="button filled primary" (click)="onAdopt()">
        Adopt a cat
      </button>
    }

    <button
      id="logout-button"
      class="button filled secondary"
      (click)="onLogout()"
    >
      Log Out
    </button>
  }
</div>
